.App{
    width: 100vw;
    height: 100vh;
}

body{
    padding: 0%;
    margin: 0%;
}


.sidebar{
    height: 100%;
    width: 270px;
    background-color: #1C2536;
}

.sidebar-list{
    width: auto;
    padding: 0;
    height: 100%;
}

.sidebar-list .row{
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar .row:hover{
    cursor: pointer;
    background-color: #27303F;
}

.sidebar  #active{
    background-color: #2e4976;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.row #title{
    flex: 70%;

}

.outlet{
    margin-left: 272px;
}

.support-portal-headline{
    padding: 40px;
}